.App{
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

body {

  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
  padding: 0;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align: center;
}

/*Estilos de botón favoritos*/

.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: 1px;
  width: 100%;
  cursor: pointer;
  border-radius: 2rem;
}

.dark .card .favButton{
  background-color: #dddddd83;
}

/*Estilos de barra de navegación*/

nav.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 237, 240); 
  max-height: 10rem;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav.header .links {
  display: flex;
}

nav.header .links a {
  margin-right: 5rem;
}

/* .links {
  padding-left: 45rem;
} */

.dark nav{
  background-color: #12121296;
  color: white;
}

.dark nav a{
  color: white;
}

.imageDh{
  width: 10rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
}

.buttoNav{
  width: 3rem;
  height: 2rem;
  border:solid 1px;
  margin-top: 15px;
  margin-right: 40px;
  margin-left: 0;
  border-radius: 80px;
  background-color: rgb(125, 125, 125); ;
}

.dark nav .buttoNav{
  background-color:  rgb(249, 237, 240);
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  font-weight:lighter;
  size: 5; 
}
a:hover{
  color: rgb(136, 136, 136);
} 

/*Estilos del footer*/

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5rem !important;
  margin-top: auto;
  align-items: center;
  flex-wrap: wrap;
}

footer > img{
  width: 200px;
  margin: 0;
  margin: 0 0.5rem 0;
}

.dark footer p {
  color: white
}

.dark footer .icons{
  filter: invert(0);
}

.icons {
  width: 15px;
  height: 15px;
  filter: invert(1);
}

.star {
  width: 15px;
  height: 15px;

}

footer > p{
  margin: 0px;
}

.pBack {
  color: white;
  background-color: red;
  position: relative;
  z-index: 3;
  width: 100%; 
  margin: 0 auto; 
  padding: 0.5rem 0;
  height: 1rem;
  max-width: auto;

}

.pBack p {
  margin: 0;
  max-width: auto;
 
}

/*Estilos de Constacto y Form*/

.contact{
  margin: 3rem 0 3rem 3rem
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  margin: 0 auto;

}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

input {
  display: flex;
  width: 100%;
  height: 1.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
}

.dark form .favButton{
  background-color: #dddddd83;
}

form .favButton{
  width: 5rem;
  align-self: center;
}

/*Estilos de las cards*/

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 320px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
}

.avatar {
  width: 15vh;
  height: 15vh;
}

.dark .card {
  border: 1px solid white;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.name {
  text-align: center;
  margin: 0.2rem 0;
  font-weight: lighter;
  font-style:normal;
}

h2, .name {
  font-size: 1.2rem;
}

.dark .name {
  color: white;
}

.card-grid{
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  width: 90vw;
  height: auto;
  flex-wrap:wrap;
  margin-left: 5rem;
  margin-top: 5px;
  
}

.buttonBack {
  border-radius: 2rem;
  height: 2rem;
  margin: 1rem 0 1rem 0;
  font-size: 0.7rem;
  border: slategrey;
}

/*Estilos de los detalles*/

.imgTable {
  width: 4rem !important;
  height: 4rem !important;
 
}

.divTable{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    display: table;
    border: 2px solid #ccc;
}

thead tr th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tbody tr td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

.dark td {
  color: black;
}

tbody, thead:nth-child(even) {
  background-color: #dddddd;
}


/*Clases para el tema claro*/

.light {
  background-color: white;
  color: black;
}

.light a {
  color: black;
}


/*Clases para el tema oscuro*/
.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

